---
import { getEntry, render } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const about = await getEntry('pages', 'about');

if (!about) {
	throw new Error('Expected content/about.md to exist');
}

const { Content } = await render(about);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title="About | Emily's Alt Protein Collection"
			description="About Emily and her interests in alternative proteins and bioengineering."
		/>
	</head>
	<body>
		<Header />
		<main>
			<h1>About</h1>
			<Content />
		</main>
		<Footer />
	</body>
</html>
